html {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

/******************** Setting Background ********************/
.register-bg, .contact-bg, .orderPage-bg{
    background: url("../imgs/register-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.packages-bg {
    background: url("../imgs/pkg-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.agent-bg, .login-bg, .table-bg {
    background: url("../imgs/admin-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/******************* header ******************/
.HeroImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../imgs/hero-img.jpg");
    height: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-logo {
    display: inline-block;
    width: 2.5rem; 
    height: 2.5rem;
    margin-right: 0.5rem;
}

.img-logo img {
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}

.wrapper > a {
    margin-right: auto;
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.wrapper > a > span {
    color: rgba(165, 188, 45, 0.9);
}

.site-header-nav {
    display: flex;
    margin-right: 4rem;
}

.wrapper button {
    border: none;
    background-color: Transparent;
    color: white;
    outline: none;
}

.drop-down-menu {
    margin: 0 3rem;
    color: white;
}

.triangle-up {
    position: absolute;
    top: -0.75rem;
    margin-left: 0.85rem;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid rgba(255, 255, 255, 0.7); 
}

.site-header-nav ul {
    list-style: none;
    display: none;
    position: absolute;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.3rem;
    font-size: 1rem;
    width: 10rem;
    z-index: 2;
}

.site-header-nav li:first-child {
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
}

.site-header-nav li:last-child {
    padding-bottom: 0.2rem;
    padding-top: 0.1rem;
}

.site-header-nav li a {
    display: block;
    padding: 0.5rem;
    color: blue;
    text-decoration: none;
}

.site-header-nav li a:hover {
    background-color: blue;
    color: white;
}

.wrapper .contact {
    margin-right: 4rem;
}

.contact a {
    text-decoration: none;
    color: white;
}

/********************* Travel Form **********************/
.travelForm {
    display: flex;
    width: 52rem;
    background-color: rgba(68, 63, 63, 0.6); 
    position: absolute;
    top: 12rem;
    left: 50%;
    margin-left: -26rem;
    padding: 0.7rem 0.5rem;
    border-radius: 1rem;
    justify-content: space-around;
}

.travelForm input {
    height: 3rem;
    border-radius: 0.2rem;
    outline: none;
    padding-left: 0.2rem;
}

.dest-icon {
    position: absolute;
    top: 1.7rem;
    margin-left: 0.5rem;
}

.going-to > input {
    padding-left: 1.6rem;
}

.passengers-fields > input {
    padding-left: 1.6rem;
}

.pass-icon {
    position: absolute;
    top: 1.7rem;
    margin-left: 0.5rem;
}

/* Move label on top of input field */
.passengers-fields .passenger-info {
    position: absolute;
    top: 1.6rem;
    margin-left: 1.8rem;
    color: grey;
}

.passenger {
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0.3rem;
    top: 4rem;
    width: 11rem;
    height: 8.5rem;
}

.passenger > button {
    position: absolute;
    top: 6.5rem;
    left: 7rem;
}

.quantity-selector {
    display: flex;
    margin-left: 0.5rem;
}

.quantity-selector label {
    width: 5rem;
}

.quantity-selector button:first-of-type {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 0.2rem;
    font-size: 1rem;
    outline: none;
}

.select-children {
    position: absolute;
    top: 4rem;
}

.select-adult {
    position: absolute;
    top: 1.5rem;
}

form > button {
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: rgb(56, 173, 173, 0.7);
    color: white;
}

/********************* Carousel*************************/

.slide-container {
    position: relative;
    height: 48rem;
}

.slideshow {
    width: 60rem;
    position: absolute;
    top: 5rem;
    left: 50%;
    margin-left: -30rem;
    border-radius: 2rem;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: 32rem;
}

/*thumbnail*/
.thumbnail-show {
    display: flex;
    width: 60rem;
    position: absolute;
    top: 37rem;
    left: 50%;
    margin-left: -30rem;
}

.thumbnail img{
    width: 100%;
    height: 7rem;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/*************************** Gallery ***************************/
.gallery-wrapper {
    position: relative;
}
.img-gallery {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 7rem;
}

.gallery-box {
    flex: 0 0 16rem;
    margin: 0 0.8rem;
}

.gallery-box img {
    width: 100%;
    height: 22rem; 
    border-radius: 2rem;
}

.gallery-box img:hover {
    box-shadow: 8px 8px 4px grey;
}

.gallery-box .desc {
    text-align: center;
    margin: 1rem 0;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

/***** Gallery button *****/
.destination-text {
    text-align: center; 
    font-family: 'Sarabun', sans-serif;
    font-size: 2.5rem;
}

.scroll-left {
    position: absolute; 
    top: 10rem;
    left: 4rem;
    background-color: Transparent;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
    outline: none;
}

.scroll-left:hover {
    background-color: rgba(133, 126, 126, 0.6);
}

.scroll-right {
    position: absolute;
    top: 10rem;
    right: 4rem;
    background-color: Transparent;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
    outline: none;
}

.scroll-right:hover {
    background-color: rgba(133, 126, 126, 0.6);
}

/*********************** Register.html/Agent.html ********************/


.notification {
    position: absolute;
    top: 35rem;
    left: 50%;
    margin-left: -5rem;
    color: white;
}

.agent form, .register form, .orderPage form {
    position: absolute;
    width: 60rem;
    background-color: rgba(68, 63, 63, 0.6);
    top: 6.5rem;
    left: 50%;
    margin-left: -30rem;
    border-radius: 2rem;
    z-index: 1;
}

.agency {
    display:flex;
    width: 50rem;
    background-color: rgba(68, 63, 63, 0.6);
    justify-content: space-between;
    /* left: 50%; */
    /* margin-left: -30rem; */
    border-radius: 2rem;
    z-index: 1;
    margin-bottom: 1rem;
    margin-left: 20%;
}

.contactInfo {
    margin-left: 5%;
    margin-top: 10%;
    color: white;

}

.map {
    margin: 1.5rem 1.5rem;
}

.form-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.label-head {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(212, 205, 205, 0.9);
}

.form-box input {
    flex-basis: 35rem;
    margin: 0.6rem 0;
    font-size: 1.1rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.form-box label {
    flex-basis: 10rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0.6rem 0;
    margin-left: 0.6rem;
    font-size: 1.1rem;
    color: rgba(212, 205, 205, 0.9);
}

.form-box select {
    flex-basis: 4rem;
}

.form-box input[type="date"] {
    flex-basis: 10rem;
}

.text-box {
	display: flex; 
	flex-direction: column;
        margin-right: 1rem;
        margin-top: -0.3rem;
}

.text-box p {
    flex-basis: 1.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #00529B;
    background-color: #BDE5F8;
    flex-grow: 0;
    flex-shrink: 1;
}

.text-box .errorMsgs {
    color: #D8000C;
    background-color: #FFD2D2;
}

.text-box span {
    display: inline-block;
    margin: 0.2rem 0.2rem;
}

/**************************** Login.html ********************************/
.login form {
    position: absolute;
    width: 25rem;
    background-color: rgba(68, 63, 63, 0.6);
    top: 50%;
    margin-top: -13rem;
    left: 50%;
    margin-left: -12.5rem;
    border-radius: 2rem;
    z-index: 1;
}

.login .login-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem 0;
}

.login-title span {
    color: orange;
}

.login .login-logo {
    background-image: url("../imgs/login-logo.png");
    background-size: cover;
    width: 4rem;
    height: 4rem;
    margin: 1rem auto;
}


.login .login-box{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 15rem;
}

.login-box input {
    background-color: black;
    font-size: 1rem;
    flex-basis: 2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    margin: 1rem 0; 
    outline: none;
    padding: 0 10px;
}

.login-box input[type="submit"] {
    background-color: orange;
    color: white;
    border: none;
    margin-top: 5rem; 
}

.login-box input[type="submit"]:hover {
    box-shadow: 6px 6px 5px rgb(87, 85, 85, 0.9);
}

/*********************** Package.php **************************/
.pkg-greet {
    text-align: center;
    color: white;
}

.pkg {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.pkg-box {
    display: flex;
    flex-direction: column;
    background-color: rgba(68, 63, 63, 0.7);
    width: 22rem;
    margin-top: 2rem;
    border-radius: 2rem;
}

.pkg-info {
    position: relative;
    padding-bottom: 3rem;
    width: 22rem;
}

.pkg-info .pkg-start {
    position: relative;
    top: 0.4rem;
    left: 2rem;
}

.pkg-start-lt {
    color: yellow;
}

.pkg-info .pkg-end {
    position: relative;
    top: -1.8rem;
    left: 12.5rem;
}

.pkg-end, .pkg-start-lt, .pkg-start {
    font-family: 'Dancing Script', cursive;
}

.pkg-info input[type="submit"] {
    position: relative;
    top: 35.5rem;
    width: 22rem;
    height: 2.5rem;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
}

.pkg-info .pkg-name {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
}

.pkg-info .pkg-desc {
    text-align: center;
}

.pkg-img img {
    width: 100%;
    height: 18rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.pkg-info .price-tag {
    position: relative;
    top: -27rem;
    left: 17rem;
}

.pkg-info .pkg-price {
    position: absolute;
    background-color: rgb(231, 68, 68);
    font-size: 1.4rem;
    color: yellow;
}

.triangle-topleft {
    position: absolute;
    top: 1.4rem;
    left: 5.5rem;
    width: 0;
    height: 0;
    border-top: 1rem solid rgb(231, 68, 68);
    border-right: 1rem solid transparent;
}

.triangle-topright {
    position: absolute;
    top: 2.2rem;
    left: -0.8rem;
    width: 0;
    height: 0;
    border-top: 0.8rem solid rgb(231, 68, 68);
    border-left: 0.8rem solid transparent;
}

.triangle-bottomleft {
    position: absolute;
    top: 2rem;
    left: 5.5rem;
    width: 0;
    height: 0;
    border-bottom: 1rem solid rgb(231, 68, 68);
    border-right: 1rem solid transparent;
}

.triangle-bottomright {
    position: absolute;
    top: 1.4rem;
    left: -0.8rem;
    width: 0;
    height: 0;
    border-bottom: 0.8rem solid rgb(231, 68, 68);
    border-left: 0.8rem solid transparent;
}

.pkg-info form input[type="submit"] {
    position: absolute;
    top: 9.2rem;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

